#laporan_container{
	margin:10px;
}
td a{
	text-decoration:none;
	color:#06f;
	font-size:10px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
td a:hover{
	text-decoration:underline;
}
h3.judul{
	margin:15px 0px;
	text-align:center;
}
table{
	border-right:1px solid #06c;
}
table th, table td{
	border-bottom:1px solid #06c;
}
table td{
	border-left:1px solid #06c;
	padding:2px 5px;
	font-size:12px;
}
table th{
	background-color:#06c;
	padding:5px 10px;
	font-size:13px;
	text-transform:capitalize;
	font-family:"Lucida Console", Monaco, monospace;
}
